<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="URL" value ="https://jsonplaceholder.typicode.com/users"/>
    <add key ="Browser" value="Chrome"/>
    <add key ="ProxyAddress" value="149.28.200.207"/>
    <add key ="ProxyPort" value="55555"/>
  </appSettings>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy/>
      <module/>
      <bypasslist />
    </defaultProxy>
  </system.net>
  </configuration>